{% include 'base.html' %}

{% block container %}

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title style="text-align:center">Bienvenido</title>
  </head>
  <body>
  <h2 style="text-align:center">Área para miembros</h2>
  <div class="col s12"> 
     <p style="text-align:center">Bienvenido <b>{{request.user.username}}</b>, esta página es exclusiva para usuarios registrados.</p>
  </div>

  <hr />

  <a href="/logout">Cerrar sesión</a>
  </body>
</html>

{% endblock %}